#Nav-section {
position: fixed;
  width: 300px;
  height: 100vh;
  overflow:hidden;
  text-align: center;
  #navigation {
    margin-top: calc(100vh / 12);
    margin-bottom: auto;

    #logo {
      padding-left: 15px;
      padding-right: 15px;
    }

    ul {
        width: 100%;
      list-style: none;
      padding: 0px !important;
      text-align: center;
    }
    a {
      transition: 0.2s;
    }
    @media only screen and (min-width: 1000px) {
    li:hover {
      letter-spacing: 2px;
    }
    }
  }
}
