$brand-blue: #007ab9;

#app {
  display: flex;
  #content {
    padding-left: 50px;
    flex-grow: 3;
    margin-left: 300px;
    margin-top: calc(100vh / 12);
  }

  #Nav-section {
    border-right: solid 1px #919191 !important;
  }

  .spacer {
    height: 20px;
    width: 100%;
  }

  // .center-title {
  //   margin-top: calc((80vh - 90px) / 2) !important;
  //   margin-bottom: 0px !important;
  // }

  .light-font {
    color: grey !important;
  }

  .divider {
    width: 600px;
    height: 2px;
    border-bottom: solid;
    border-width: 1px;
    color: #919191;
  }

  .text-wrapper {
    width: 100%;
    max-width: 720px;
    padding-right: 15px;
  }

  a {
    font-size: 18px;
    color: $brand-blue;
    text-decoration: none;
    line-height: 1.5em;
  }
}

.modal {
  float: right;
  position: fixed;
  height: auto;
  min-height: 50%;
  width: 70%;
  border: blue solid 3px;
  background-color: white;
}